<div class="d-container">
<div class="d-full-row">
  <div class="d-big-text d-baker">{{section.settings.text}}</div>
  <div class="d-left-moved">
    <img class="d-animated-baker" src="{{section.settings.image | img_url: '517x'}}">
    <img src="{{section.settings.image_2 | img_url: '342x'}}" class="d-left-gif">
  </div>
</div>
</div>

{% schema %}
{
  "name": "Custom Baker",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
{
          "type": "textarea",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Middle Text"
        },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image 1"
    },
{
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    }
  ],
  "presets": [
    {
      "name": "Custom Baker"
    }
  ]
}
{% endschema %}


