.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
.page-menu {
  margin-bottom:80px;
}
.page-menu h3 {
font-family: 'master_worksregular';
font-weight: normal;
font-size: 10.1rem;
line-height: 1;
text-transform: lowercase;
text-align:center;
color: #E75558;
  margin-bottom:2.5rem;
}
.page-menu p.menu-item-title{
font-family: 'name_sans_headingblack';
font-style: italic;
font-weight: 900;
font-size: 3.1rem;
line-height: 1.8;
text-align: center;
margin-bottom:0;
color: #0D131F;
}
.page-menu p.menu-item-description {
font-family: 'master_worksregular';
font-style: normal;
font-weight: 400;
font-size: 4.2rem;
line-height: 1.4;
text-align: center;
margin-top:0;
color: #0D131F;
}
.page-menu p span {
  font-family: 'name_sans_textregular';
  font-weight: 400;
  font-style: normal;
}
@media(max-width:767px) {
 .page-menu h3 {
  font-size:4rem; 
 }
  .page-menu p {
  font-size:1.4rem; 
 }
  .page-menu p.menu-item-title {
    font-size:2.1rem;
  }
  .page-menu p.menu-item-description {
    font-size:3rem;
  }
}