.d-container {
 max-width:1440px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
.d-grid-row {
 display:grid; 
}
.d-grid-2 {
 grid-template-columns:1fr 1fr; 
}
.d-h1-wrap {
 margin-left:59px; 
  margin-bottom:123px;
}
.d-h1-wrap h1 {
font-family: 'name_sans_headingblack';
font-size: 6.2rem;
line-height: 1.44;
color: #0D131F;
  margin:0;
}
.d-h1-wrap span {
  font-family: 'master_worksregular';
  font-size: 4.2rem;
line-height: 1.5;
color: #000000;
transform: rotate(-8deg);
      margin-left: 280px;
    margin-top: -90px;
    display: block;
}
.d-btn {
  font-family: 'name_sans_textregular';
  font-weight: normal;
font-size: 1.6rem;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
  text-decoration:none;
  background: #E95454;
border-radius: 10px;
  padding:1.4rem 3.6rem;
}
.d-top-btn {
     margin: 79px 0 0 59px;
    display: inline-block; 
}
.d-top-right-image img{
  transform: translate(-200px, 100px);
}
.d-top-scedule {
  width:191px;
  height:229px;
  transform: translate(-40px, -600px);
  float:right;
}
.d-top-scedule h4{
  font-family: 'name_sans_textregular';
font-weight: normal;
font-size: 1.5rem;
line-height: 1.1;
text-align: center;
  text-transform: uppercase;
color: #FFFFFF;
      width: 160px;
    margin: 110px auto 12px;
}
.d-top-scedule p{
  font-family: 'name_sans_textregular';
font-weight: normal;
font-size: 1.5rem;
line-height: 1.1;
text-align: center;
color: #FFFFFF;
  margin:0 auto;
}
.d-custom-text {
 max-width:590px;
  margin-left:100px;
}
.d-custom-text p{
   font-family: 'master_worksregular';
font-weight: normal;
font-size: 4.2rem;
line-height: 1.07;
color: #0D131F;
}
.d-custom-text p span {
  color:#E75558;
}
.d-middle-left-image {
     margin: 235px 0 0 240px;
}
.d-top-right-image {
  margin: 0 0 0 40px;
}
.d-big-text p {
font-family: 'name_sans_headingblack';
font-style: italic;
font-weight: 900;
font-size: 4rem;
line-height: 1.5;
text-align: center;
color: #0D131F;
  max-width:950px;
  width:100%;
  margin:40px auto;
}
.d-big-text p span{
color:#E95454;
}
.d-left-moved img:first-of-type {
  margin-left:10%;
}
.d-left-moved img.d-left-gif {
 margin-left:-150px;
  border-radius:50%;
}
.d-mb--120 {
  margin-bottom:-120px;
}
.d-product-wrap {
 border-radius:12px; 
}
.d-product-item {
 display:grid;
  justify-content:center;
  transition: background 0.5s;
}
.d-product-item-bottom-text .d-product-wrap {
  padding:73px 37px 26px;
  display:inline-grid;
}
.d-product-item-top-text .d-product-wrap {
  padding:26px 37px 73px;
  display:inline-grid;
}
.d-product-wrap:hover {
  background:#E95454;
}
.d-product-item p {
font-family: 'name_sans_headingblack';
font-style: italic;
font-weight: 900;
font-size: 2.4rem;
line-height: 1.29;
text-align: center;
color: #0D131F;
  width:200px;
  margin:0 auto;
}
.d-product-item a {
 display:block;
  text-align:center;
}
.d-product-item-no-text {
 padding-left:24%; 
  margin-top:93px;
}
.d-product-item-no-text a {
 display:block; 
}
.d-product-item-no-text img {
 width:100%; 
}
.d-center-row {
 text-align:center;
  margin:100px auto;
}
.d-align-content {
 height:100%; 
}
.d-align-content .d-column {
 display:grid; 
}
.d-align-content .d-column:last-of-type {
  align-content:end;
}
.d-center-row a {
  font-family: 'name_sans_textregular';
font-weight: normal;
font-size: 1.6rem;
line-height: 1.1;
text-align: center;
text-decoration-line: underline;
text-transform: uppercase;

color: #E95454;
}
.newsletter   {
 padding:130px 0 30px; 
}
.newsletter h2 {
font-family: 'name_sans_headingblack';
font-style: italic;
font-weight: 900;
font-size: 7.6rem;
line-height: 1;
text-align: center;

color: #FFFFFF;
}
.newsletter-form__field-wrapper .field__input {
border: 3px solid #FFFFFF;
border-radius: 10px;
  box-shadow:none;
  color:#fff;
    font-family: 'name_sans_textregular';
font-weight: normal;
font-size: 1.6rem;
line-height: 1.1;
color: #FFFFFF;
opacity: 0.8;
}
.newsletter .field__label {
    color:#fff;
    font-family: 'name_sans_textregular';
font-weight: normal;
font-size: 1.6rem;
line-height: 1.1;
color: #FFFFFF;
opacity: 0.8;
}
.newsletter .field__button {
 position:static; 
  background: #FFFFFF;
border-radius: 10px;
font-family: 'name_sans_textregular';
font-weight: normal;
font-size: 1.6rem;
line-height: 1;
text-transform: uppercase;
padding: 0 60px;
color: #B71ABA;
  margin-left:16px;
}