@font-face {
    font-family: 'name_sans_headingblack';
    src: url('name_sans_heading-black-webfont.eot');
    src: url('name_sans_heading-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('name_sans_heading-black-webfont.woff2') format('woff2'),
         url('name_sans_heading-black-webfont.woff') format('woff'),
         url('name_sans_heading-black-webfont.ttf') format('truetype'),
         url('name_sans_heading-black-webfont.svg#name_sans_headingblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'master_worksregular';
    src: url('master-works-webfont.eot');
    src: url('master-works-webfont.eot?#iefix') format('embedded-opentype'),
         url('master-works-webfont.woff2') format('woff2'),
         url('master-works-webfont.woff') format('woff'),
         url('master-works-webfont.ttf') format('truetype'),
         url('master-works-webfont.svg#master_worksregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'name_sans_textregular';
    src: url('name_sans_text-regular-webfont.eot');
    src: url('name_sans_text-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('name_sans_text-regular-webfont.woff2') format('woff2'),
         url('name_sans_text-regular-webfont.woff') format('woff'),
         url('name_sans_text-regular-webfont.ttf') format('truetype'),
         url('name_sans_text-regular-webfont.svg#name_sans_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.d-container {
 max-width:1440px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
.d-grid-row {
 display:grid; 
}
.d-grid-2 {
 grid-template-columns:1fr 1fr; 
}
.d-h1-wrap {
 margin-left:59px; 
}
.d-h1-wrap h1 {
font-family: 'name_sans_headingblack';
font-size: 9rem;
line-height: 1;
color: #0D131F;
  margin:0;
}
.d-h1-wrap span {
  font-family: 'master_worksregular';
  font-size: 4.2rem;
line-height: 1.5;
color: #000000;
transform: rotate(-8deg);
      margin-left: 280px;
    margin-top: -90px;
    display: block;
}
.d-btn {
  font-family: 'name_sans_textregular';
  font-weight: normal;
font-size: 1.6rem;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
  text-decoration:none;
  background: #E95454;
border-radius: 10px;
  padding:1.4rem 3.6rem;
}
.d-top-btn {
     margin: 79px 0 0 59px;
    display: inline-block; 
}
.d-top-right-image img{
  transform: translate(-200px, 100px);
}
.d-top-scedule {
  width:191px;
  height:229px;
  transform: translate(-40px, -600px);
  float:right;
}
.d-top-scedule h4{
  font-family: 'name_sans_textregular';
font-weight: normal;
font-size: 1.5rem;
line-height: 1.1;
text-align: center;
  text-transform: uppercase;
color: #FFFFFF;
      width: 160px;
    margin: 110px auto 12px;
}
.d-top-scedule p{
  font-family: 'name_sans_textregular';
font-weight: normal;
font-size: 1.5rem;
line-height: 1.1;
text-align: center;
color: #FFFFFF;
  margin:0 auto;
}
.d-custom-text {
 max-width:590px;
  margin-left:100px;
}
.d-custom-text p{
   font-family: 'master_worksregular';
font-weight: normal;
font-size: 4.2rem;
line-height: 1.07;
color: #0D131F;
}
.d-custom-text p span {
  color:#E75558;
}
.d-middle-left-image {
     margin: 188px 0 0 240px;
}
.d-top-right-image {
  margin: 0 0 0 40px;
}
.d-big-text p {
font-family: 'name_sans_headingblack';
font-style: italic;
font-weight: 900;
font-size: 4rem;
line-height: 1.5;
text-align: center;
color: #0D131F;
  max-width:950px;
  width:100%;
  margin:40px auto;
}
.d-big-text p span{
color:#E95454;
}
.d-left-moved img {
  margin-left:10%;
}
.d-mb--120 {
  margin-bottom:-120px;
}