.d-container {
 max-width:1440px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
}
.d-container-middle {
 overflow:visible; 
}
.d-grid-row {
 display:grid; 
}
.d-grid-2 {
 grid-template-columns:1fr 1fr; 
}
.d-grid-top.d-grid-2 {
  grid-auto-columns: minmax(0, 1fr);
grid-auto-flow: column;
  grid-template-columns:inherit; 
  padding-bottom:120px;
}
.d-top-left-image {
 width:100%; 
}
.d-top-left-image img{
 width:100%; 
  object-fit:cover;
}
.d-h1-wrap {
 margin-left:59px; 
  margin-bottom:123px;
}
.d-h1-wrap h1 {
font-family: 'name_sans_headingblack';
font-size: 6.2rem;
line-height: 1.44;
color: #0D131F;
  margin:0;
  text-transform:uppercase;
}
.d-h1-wrap span {
  font-family: 'master_worksregular';
  font-size: 4.2rem;
line-height: 1.5;
color: #000000;
transform: rotate(-8deg);
      margin-left: 280px;
    margin-top: -90px;
    display: block;
}
.d-btn {
  font-family: 'name_sans_textregular';
  font-weight: normal;
font-size: 1.6rem;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
  text-decoration:none;
  background: #E95454;
border-radius: 10px;
  padding:1.4rem 3.6rem;
}
.d-top-btn {
     margin: 79px 0 0 59px;
    display: inline-block; 
}
.d-top-right-image img{
  transform: translate(-200px, 100px);
}
.d-top-scedule {
  width:191px;
  height:229px;
  float:right;
  position:fixed;
  top:50%;
  right:25px;
  z-index:100;
}
.d-top-scedule h4{
  font-family: 'name_sans_textregular';
font-weight: normal;
font-size: 1.5rem;
line-height: 1.1;
text-align: center;
  text-transform: uppercase;
color: #FFFFFF;
      width: 160px;
    margin: 110px auto 12px;
}
.d-top-scedule p{
  font-family: 'name_sans_textregular';
font-weight: normal;
font-size: 1.5rem;
line-height: 1.1;
text-align: center;
color: #FFFFFF;
  margin:0 auto;
}
.d-custom-text {
 max-width:590px;
  margin-left:100px;
}
.d-custom-text p{
   font-family: 'master_worksregular';
font-weight: normal;
font-size: 4.2rem;
line-height: 1.07;
color: #0D131F;
}
.d-custom-text p span {
  color:#E75558;
}
.d-middle-left-image {
     margin: 185px 0 0 240px;
}
.d-top-right-image {
  margin: 0 0 100px 40px;
}
.d-big-text p {
font-family: 'name_sans_headingblack';
font-style: italic;
font-weight: 900;
font-size: 4rem;
line-height: 1.5;
text-align: center;
color: #0D131F;
  max-width:950px;
  width:100%;
  margin:40px auto;
}
.d-big-text p span{
color:#E95454;
}
.d-left-moved img:first-of-type {
  margin-left:10%;
}
.d-left-moved img.d-left-gif {
 margin-left:-150px;
  border-radius:50%;
}
.d-mb--120 {
  margin-bottom:-120px;
}
.d-product-wrap {
 border-radius:12px; 
    background-color:rgba(255,255,255,0);
  transition: background-color 700ms linear;
}
.d-product-item {
 display:grid;
  justify-content:center;

}
.d-product-item-bottom-text .d-product-wrap {
  padding:73px 37px 26px;
  display:inline-grid;
}
.d-product-item-top-text .d-product-wrap {
  padding:26px 37px 73px;
  display:inline-grid;
}
.d-product-wrap:hover {
  background-color:#E95454;
}
.d-product-item p {
font-family: 'name_sans_headingblack';
font-style: italic;
font-weight: 900;
font-size: 2.4rem;
line-height: 1.29;
text-align: center;
color: #0D131F;
  width:200px;
  margin:0 auto;
  transition: 0.7s;
}
.d-product-wrap:hover p {
  color: #fff;
}
.d-product-item a {
 display:block;
  text-align:center;
}
.d-product-item-no-text {
 padding-left:24%; 
  margin-top:93px;
}
.d-product-item-no-text a {
 display:block; 
}
.d-product-item-no-text img {
 width:100%; 
}
.d-center-row {
 text-align:center;
  margin:100px auto;
}
.d-align-content {
 height:100%; 
}
.d-align-content .d-column {
 display:grid; 
}
.d-align-content .d-column:last-of-type {
  align-content:end;
}
.d-center-row a {
  font-family: 'name_sans_textregular';
font-weight: normal;
font-size: 1.6rem;
line-height: 1.1;
text-align: center;
text-decoration-line: underline;
text-transform: uppercase;

color: #E95454;
}
.d-baker p{
 position:relative; 
  margin-bottom:100px;
}
.d-baker p:after {
  content:url(https://cdn.shopify.com/s/files/1/0553/1480/9007/t/4/assets/arrow.png?v=1641392517); 
  position:absolute;
  top:35px;
  right:-80px;
}
@media(max-width:979px) {
  .d-grid-top.d-grid-2 {
    grid-auto-columns: minmax(1fr);
    grid-template-columns: 1fr;
  }
  }